@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}
input:disabled,
textarea:disabled,
select:disabled {
  background-color: rgb(203 213 225) !important;
}
